.albums__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}

.albums__item {
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .albums__list {
    justify-content: space-between;
  }

  .albums__item {
    margin: 20px;
  }
}
