.photo {
  width: 24%;
  height: 24%;

  &:hover,
  &:focus {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  }
}

.photo__image-container {
  font-size: 0;
}

.photo__image {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .photos {
    .photo {
      width: 18.5%;
      height: 18.5%;
    }
  }
}
