.preview-nav {
  display: flex;
  align-items: center;

  width: 100%;
}

.preview-nav__buttons {
  margin: 0;
  padding: 0;

  list-style: none;
}

.preview-nav__button {
  position: absolute;

  width: 19px;
  height: 37px;

  background-image: url("./img/icon-nav.svg");
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;

  &--back {
    transform: rotate(-180deg);
    left: 20px;
  }

  &--forward {
    right: 20px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 1px 1px #000000;
  }
}

