@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic");
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif; }

.container {
  margin: 0 auto;
  background-color: #ffffff; }

.page-authors {
  padding-top: 35px; }

.page-authors__header {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .page-authors__header {
    font-size: 28px; } }

.authors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0 15px; }

.authors__author {
  margin: 0 10px;
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .authors__author {
    margin: 0 20px;
    margin-bottom: 30px; }
  .authors__list {
    padding: 0 125px; } }

.author {
  text-align: center; }

.author__link {
  color: #000000;
  text-decoration: none; }

.author__image {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.author__name {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 768px) {
  .author__image {
    width: 85px;
    height: 85px; }
  .author__name {
    margin: 0;
    font-size: 18px;
    line-height: 21px; } }

.page-header {
  padding-top: 13px; }

@media (min-width: 768px) {
  .page-header {
    padding: 0 40px;
    padding-top: 15px; } }

.nav-mobile__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-decoration: none;
  color: #000000; }

.nav-mobile__name {
  position: relative;
  padding-left: 37px; }
  .nav-mobile__name::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 23px;
    height: 20px;
    background-image: url("../../img/icon-back.svg");
    background-repeat: no-repeat; }

@media (min-width: 768px) {
  .nav-mobile {
    display: none; } }

.nav-full {
  display: none; }

.nav-full__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.nav-full__item {
  position: relative;
  padding-left: 20px; }
  .nav-full__item:first-child {
    padding-left: 0; }
  .nav-full__item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 7px;
    height: 14px;
    background-image: url("../../img/icon-forward.svg");
    background-repeat: no-repeat; }

.nav-full__link {
  text-decoration: none;
  color: #3e3e3e; }
  .nav-full__link--inactive {
    color: #ada9a9; }

@media (min-width: 768px) {
  .nav-full {
    display: block; } }

.page-albums {
  padding: 0 5px; }

.page-albums__album-author {
  margin-bottom: 13px; }

@media (min-width: 768px) {
  .page-albums {
    padding: 0; }
  .page-albums__album-author {
    margin-bottom: 0;
    padding: 0 40px; }
  .page-albums__albums {
    padding: 0 20px; } }

.album-author {
  padding-top: 18px; }

.album-author__avatar {
  margin: 0;
  padding-bottom: 5px;
  text-align: center; }

.album-author__image {
  width: 120px;
  height: 120px;
  border-radius: 50%; }

.album-author__header {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center; }

.album-author__city {
  display: none; }

.album-author__count {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px; }

@media (min-width: 768px) {
  .album-author {
    display: flex; }
  .album-author__image {
    width: 187px;
    height: 187px; }
  .album-author__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px; }
  .album-author__header {
    font-size: 24px;
    line-height: 28px;
    text-align: left; }
  .album-author__city {
    display: block;
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; }
  .album-author__count {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; } }

.albums__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none; }

.albums__item {
  margin-bottom: 13px; }

@media (min-width: 768px) {
  .albums__list {
    justify-content: space-between; }
  .albums__item {
    margin: 20px; } }

.album {
  width: 140px; }

.album__link {
  text-decoration: none; }

.album__cover {
  margin: 0; }

.album__image-container {
  margin-bottom: 6px;
  font-size: 0; }

.album__image {
  width: 100%;
  height: auto; }

.album__header {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000; }

.album__count {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #949494; }

.album__count-description {
  display: none; }

@media (min-width: 768px) {
  .album {
    width: 300px; }
  .album__cover {
    position: relative; }
  .album__image-container {
    margin-bottom: 0; }
  .album__image {
    width: 300px;
    height: 300px; }
  .album__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 8px;
    background: rgba(44, 44, 44, 0.58); }
  .album__header {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff; }
  .album__count {
    font-size: 12px;
    line-height: 14px;
    color: #d5d5d5; }
  .album__count-description {
    display: inline-block; } }

.page-photos__album-cover {
  margin-bottom: 24px; }

.album-cover {
  padding-top: 19px;
  text-align: center; }

.album-cover__image--container {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 6px; }

.album-cover__image {
  width: 100%;
  height: auto;
  border-radius: 29px; }

.album-cover__header {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px; }

.album-cover__author-name {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px; }

@media (min-width: 768px) {
  .album-cover {
    display: flex;
    padding: 0 40px;
    padding-top: 16px;
    text-align: left; }
  .album-cover__image--container {
    width: 187px;
    height: 187px;
    margin: 0;
    margin-bottom: 6px; }
  .album-cover__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; }
  .album-cover__header {
    font-size: 24px;
    line-height: 28px; }
  .album-cover__author-name {
    font-size: 18px;
    line-height: 21px; } }

.photos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.photos__item {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .photos {
    padding: 0 40px; } }

.photo {
  width: 24%;
  height: 24%; }

.photo__image-container {
  font-size: 0; }

.photo__image {
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  .photos .photo {
    width: 18.5%;
    height: 18.5%; } }

.page-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red; }

/*# sourceMappingURL=style.css.map */
