@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("RobotoRegular"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("RobotoBold"), url("fonts/Roboto-Bold.woff") format("woff"), url("fonts/Roboto-Bold.woff2") format("woff2"); }

/*font-family: "Roboto", "Arial", sans-serif;*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif; }

.container {
  margin: 0 auto;
  background-color: #ffffff; }

.page-authors {
  padding-top: 35px; }

.page-authors__header {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .page-authors__header {
    font-size: 28px; } }

.authors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0 15px; }

.authors__author {
  margin: 0 10px;
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .authors__author {
    margin: 0 20px;
    margin-bottom: 30px; }
  .authors__list {
    padding: 0 125px; } }

.author {
  text-align: center;
  width: 25%; }
  .author:hover .author__image,
  .author:focus .author__image {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3); }

.author__link {
  color: #000000;
  text-decoration: none; }

.author__image {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.author__name {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 768px) {
  .author {
    width: 15%; }
  .author__image {
    width: 85px;
    height: 85px; }
  .author__name {
    margin: 0;
    font-size: 18px;
    line-height: 21px; } }

.page-header {
  padding-top: 13px; }

@media (min-width: 768px) {
  .page-header {
    padding: 0 40px;
    padding-top: 15px; } }

.nav-mobile__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-decoration: none;
  color: #000000; }

.nav-mobile__name {
  position: relative;
  padding-left: 37px; }
  .nav-mobile__name::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 23px;
    height: 20px;
    background-image: url("./img/icon-back.svg");
    background-repeat: no-repeat; }

@media (min-width: 768px) {
  .nav-mobile {
    display: none; } }

.nav-full {
  display: none; }

.nav-full__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.nav-full__item {
  position: relative;
  padding-left: 20px; }
  .nav-full__item:first-child {
    padding-left: 0; }
  .nav-full__item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 7px;
    height: 14px;
    background-image: url("./img/icon-forward.svg");
    background-repeat: no-repeat; }

.nav-full__link {
  text-decoration: none;
  color: #3e3e3e; }
  .nav-full__link--active:hover, .nav-full__link--active:focus {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .nav-full__link--inactive {
    color: #ada9a9; }

@media (min-width: 768px) {
  .nav-full {
    display: block; } }

.page-albums {
  padding: 0 5px; }

.page-albums__album-author {
  margin-bottom: 13px; }

@media (min-width: 768px) {
  .page-albums {
    padding: 0; }
  .page-albums__album-author {
    margin-bottom: 0;
    padding: 0 40px; }
  .page-albums__albums {
    padding: 0 20px; } }

.album-author {
  padding-top: 18px; }

.album-author__avatar {
  margin: 0;
  padding-bottom: 5px;
  text-align: center; }

.album-author__image {
  width: 120px;
  height: 120px;
  border-radius: 50%; }

.album-author__header {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center; }

.album-author__city {
  display: none; }

.album-author__count {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px; }

@media (min-width: 768px) {
  .album-author {
    display: flex; }
  .album-author__image {
    width: 187px;
    height: 187px; }
  .album-author__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px; }
  .album-author__header {
    font-size: 24px;
    line-height: 28px;
    text-align: left; }
  .album-author__city {
    display: block;
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; }
  .album-author__count {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; } }

.albums__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none; }

.albums__item {
  margin-bottom: 13px; }

@media (min-width: 768px) {
  .albums__list {
    justify-content: space-between; }
  .albums__item {
    margin: 20px; } }

.album {
  width: 140px; }

.album__link {
  text-decoration: none; }

.album__cover {
  margin: 0; }
  .album__cover:hover, .album__cover:focus {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3); }

.album__image-container {
  margin-bottom: 6px;
  font-size: 0; }

.album__image {
  width: 100%;
  height: auto; }

.album__header {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000; }

.album__count {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #949494; }

.album__count-description {
  display: none; }

@media (min-width: 768px) {
  .album {
    width: 300px; }
  .album__cover {
    position: relative; }
  .album__image-container {
    margin-bottom: 0; }
  .album__image {
    width: 300px;
    height: 300px; }
  .album__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 8px;
    background: rgba(44, 44, 44, 0.58); }
  .album__header {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff; }
  .album__count {
    font-size: 12px;
    line-height: 14px;
    color: #d5d5d5; }
  .album__count-description {
    display: inline-block; } }

.page-photos__album-cover {
  margin-bottom: 24px; }

.album-cover {
  padding-top: 19px;
  text-align: center; }

.album-cover__image--container {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 6px; }

.album-cover__image {
  width: 100%;
  height: auto;
  border-radius: 29px; }

.album-cover__header {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px; }

.album-cover__author-name {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px; }

@media (min-width: 768px) {
  .album-cover {
    display: flex;
    padding: 0 40px;
    padding-top: 16px;
    text-align: left; }
  .album-cover__image--container {
    width: 187px;
    height: 187px;
    margin: 0;
    margin-bottom: 6px; }
  .album-cover__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; }
  .album-cover__header {
    font-size: 24px;
    line-height: 28px; }
  .album-cover__author-name {
    font-size: 18px;
    line-height: 21px; } }

.photos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.photos__item {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .photos {
    padding: 0 40px; } }

.photo {
  width: 24%;
  height: 24%; }
  .photo:hover, .photo:focus {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3); }

.photo__image-container {
  font-size: 0; }

.photo__image {
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  .photos .photo {
    width: 18.5%;
    height: 18.5%; } }

.page-preview {
  position: fixed;
  top: 0;
  left: 0; }

.preview {
  width: 100%;
  height: 100vh; }

.preview--inactive {
  display: none; }

.preview__background {
  background-color: #000000;
  width: 100%;
  height: 100%; }

.preview__cover {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; }

.preview__image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; }

.preview__image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto; }

.preview__caption {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 7px;
  padding-bottom: 61px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 78.65%); }

.preview__author-image {
  width: 29px;
  height: 29px;
  border-radius: 50%; }

.preview__header {
  margin: 0;
  padding-left: 7px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff; }

.preview__author-name {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.69); }

.preview__nav {
  position: absolute;
  top: 50%;
  left: 0; }

.preview__close {
  position: absolute;
  top: 27px;
  right: 12px; }

@media (min-width: 768px) {
  .preview__background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    padding: 8% 14%; }
  .preview__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000000; }
  .preview__image-container {
    height: auto;
    max-height: 90%; }
  .preview__caption {
    display: block;
    position: static;
    padding: 10px 10px;
    background: #ffffff; }
  .preview__author {
    display: none; }
  .preview__header {
    margin: 0;
    padding-left: 7px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000; }
  .preview__author-name {
    display: none; }
  .preview__close {
    top: 40px;
    right: 40px; } }

.preview-nav {
  display: flex;
  align-items: center;
  width: 100%; }

.preview-nav__buttons {
  margin: 0;
  padding: 0;
  list-style: none; }

.preview-nav__button {
  position: absolute;
  width: 19px;
  height: 37px;
  background-image: url("./img/icon-nav.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }
  .preview-nav__button--back {
    transform: rotate(-180deg);
    left: 20px; }
  .preview-nav__button--forward {
    right: 20px; }
  .preview-nav__button:hover, .preview-nav__button:focus {
    box-shadow: 0 0 1px 1px #000000; }

.preview-close {
  width: 17px;
  height: 17px;
  background-image: url("./img/icon-close-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }

@media (min-width: 768px) {
  .preview__close {
    width: 30px;
    height: 30px;
    background-image: url("./img/icon-close-desktop.svg"); } }

/*# sourceMappingURL=style.css.map */
